html, body {
    height: 100%;
}

body {
    background-image: url('../imagebanner/under.gif');
    background-position: center top;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: contain;
    background-color: #999;
}

a {
    font-size: 30px;
}

.btn-danger {
    background-color: darkred
}

.indhold {
    background-color: whitesmoke;
}

.indoldarticle {
    background-color: lightgrey;
}

footer {
    position: absolute;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

a {
    /*font-size: 12px;*/
}

.mindre {
    font-size: 12px;
}

.footerimg {
    /*width: 45px;*/
    height: 40px;
}

.post {
    float: right;
    width: 50px;
}

.borderbox {
    height: 350px;
    border: solid 3px black;
}

h2 {
    margin: 0;
    padding: 0;
}

.bannerlogo {
    width: 800px;
}
