@{
    ViewBag.Title = "Opgave 11";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="overskrift">Flip ud og find selv på noget vildt</h1>

<div id="opgaven">

    <h2>Opgaven</h2>

    <ol>
        <li>Når man ???:</li>
        <li>Så skal der ske noget???</li>
    </ol>

</div>

<h2>Freestyle</h2>
<p>Hent et billede/flere billeder, tekst, datoer eller andet ... og gør et eller andet med det her.</p>
<p><span class="b">Arbejd evt. videre med pacman-opgaven</span> - udvid scriptet, så det kan lidt mere (stoppes, pauses, sætte fart op/ned) ... der kan blive et helt lille spil ud af det</p>
