
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>output</title>
</head>
<body>
    @ViewBag.ged
    <img src="~/ImageShow/@ViewBag.ja" />
    
</body>
</html>

