
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<form method="post" action="/Login/">
    <label>Username</label>
    <input type="text" name="Username" />
    <br />
    <label>Password</label>
    <input type="password" name="Password" />
    <br />
    <button type="submit">Login</button>
    @Html.Raw(ViewBag.Msg)
</form>