@using LbRepo.Models;
@model Content

<div class="container" style="min-height:200px;border-radius:5px">
    <img class="img-fluid imgcenter" src="~/Content/GFX/@Model.Image" />
    <p>
        @Model.Contents
    </p>
    @*<div class="row">
            <img class="img-fluid imgcenter" style="opacity:0.2; " src="~/Content/GFX/hjelm.png" />
        </div>*@
</div>