
@{
    ViewBag.Title = "MusikAudio";
    Layout = "~/Views/Shared/_Musik.cshtml";
}

<div class="container">


    <div class="row">
        <img class="img-responsive bannerlogo center-block" src="~/imagebanner/top1.png" />
        <h2 style="text-align:center;">
            <img class="img-responsive center-block" src="~/icons/musik.png" />
        </h2>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="~/audiopic/Norstrøm cover.jpg" style="border-radius:5px 5px 5px 5px; border:solid 5px dimgrey;" />
        </div>
        <div class="col-sm-6 indoldarticle" style="margin-left:5px;">
            <table style="width:100%">
                <tr>
                    <th>

                    </th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td>1. Der er noget ondt på vej</td>
                    <td style="padding-top:5px;">


                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Der%20er%20noget%20ondt%20p%c3%a5%20vej%20-%20Master%201.wav" />
                        </audio>
                    </td>


                </tr>
                <tr>
                    <td>2. Den overfladiske hymne</td>
                    <td style="padding-top:5px;">


                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Den%20Overfladiske%20Hymne%20-%20Ny%20Master%201.wav" />
                        </audio>

                    </td>


                </tr>
                <tr>
                    <td>3. Find en anden at give skylden</td>
                    <td style="padding-top:5px;">


                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Find%20en%20anden%20at%20give%20skylden%20-%20Master%201.wav" />
                        </audio>
                    </td>


                </tr>

                <tr>
                    <td>4. Knuser Spejlet</td>
                    <td style="padding-top:5px;">


                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Knuser%20Spejlet%20-%20Master%201.wav " />
                        </audio>
                    </td>


                </tr>

                <tr>
                    <td>5. Turde Tør</td>
                    <td style="padding-top:5px;">


                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Turde%20t%c3%b8r%20-%20Master%201.wav" />
                        </audio>

                    </td>


                </tr>

                <tr>
                    <td>6. Moder</td>
                    <td style="padding-top:5px;">
                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Moder%20-%20Master%201.wav" />
                        </audio>


                    </td>


                </tr>
                <tr>
                    <td>7. Hr. Død</td>
                    <td style="padding-top:5px;">
                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Hr.%20D%c3%b8d%20siger%20goddag%20-%20Master%201.wav" />
                        </audio>
                    </td>


                </tr>
                <tr>
                    <td>8. Visdommens Tid</td>
                    <td style="padding-top:5px;">
                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Visdommens%20tid%20-%20Master%201.wav" />
                        </audio>

                    </td>


                </tr>

                <tr>
                    <td>9. Spyt I Modvind</td>
                    <td style="padding-top:5px;">

                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Spyt%20I%20Modvind%20-%20Master%201%20-%2048khz.wav" />
                        </audio>

                    </td>


                </tr>
                <tr>
                    <td>10. Strammer Op</td>
                    <td style="padding-top:5px;">
                        <audio controls="controls">
                            <source src="~/norstr%c3%b8m/Strammer%20Op%20-%20Master%201.wav" />
                        </audio>

                    </td>


                </tr>

            </table>
        </div>


        <div class="col-sm-1">

        </div>

        <div class="col-sm-2" style="background-color:dimgrey;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-left:25px; margin-bottom:10px;">
            <br />
            <!--<h4 style="text-align:center;">info</h4>-->

            <li><b>Indspillet i<br /></b> SYG/LYD Århus C</li>
            <br />
            <li>
                <b>
                    Produceret af
                    <br />
                </b> Dennis Guldmann, Mads Fjeldvig, Dennis Pedersen
            </li>

            <br />
            <li><b>Komponeret af</b> Dennis Pedersen</li>
            <br />
            <li><b>Masteret af<br></b> Magnus Vad</li>
            <br />
            <p>Copyright 2015</p>

        </div>

    </div>


    <br />
    <br />

    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="~/musikpic/saint.jpg" style="border-radius:5px 5px 5px 5px; border:solid 5px dimgrey;" />
        </div>
        <div class="col-sm-6 indoldarticle" style="margin-left:5px;">
            <table style="width:100%">
                <tr>
                    <th>

                    </th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td>1. Saint Of Hatred</td>
                    <td style="padding-top:5px;">


                        <audio controls="controls">
                            <source src="~/Saints%20of%20hatred%202012/Saint_of_hatred.mp3" type="audio/mpeg" />
                        </audio>

                    </td>


                </tr>
                <tr>
                    <td>2. Forever Starts Today</td>
                    <td style="padding-top:5px;">

                        <audio controls="controls">
                            <source src="~/Saints%20of%20hatred%202012/Forever_Starts_Today.mp3" type="audio/mpeg" />
                        </audio>
                    </td>


                </tr>
                <tr>
                    <td>3. Slave Of Popularity</td>
                    <td style="padding-top:5px;">



                        <audio controls="controls">
                            <source src="~/Saints%20of%20hatred%202012/Slave_of_Popularity.mp3" type="audio/mpeg" />
                        </audio>

                    </td>


                </tr>

                <tr>
                    <td>4. Together Alone</td>
                    <td style="padding-top:5px;">

                        <audio controls="controls">
                            <source src="~/Saints%20of%20hatred%202012/Together_Alone.mp3" type="audio/mpeg" />
                        </audio>
                    </td>


                </tr>

                <tr>
                    <td>5. The Worst Wake Up Call</td>
                    <td style="padding-top:5px;">

                        <audio controls="controls">
                            <source src="~/Saints%20of%20hatred%202012/The_Worst_Wake-up_Call.mp3" type="audio/mpeg" />
                        </audio>


                    </td>


                </tr>



            </table>
        </div>


        <div class="col-sm-1">

        </div>

        <div class="col-sm-2" style="background-color:dimgrey;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-left:25px; margin-bottom:10px;">
            <br />
            <!--<h4 style="text-align:center;">info</h4>-->

            <li><b>Indspillet i<br /></b> DEAD RAT STUDIO</li>
            <br />
            <li>
                <b>
                    Produceret af
                    <br />
                </b> Jacob Bredahl & Sickseed
            </li>

            <br />
            <li><b>Komponeret af</b> Sickseed</li>
            <br />
            <li><b>Mix & Masteret af<br></b> Jacob Bredahl</li>
            <br />
            <p>Copyright 2010</p>

        </div>

    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;text-align:center;">
            <a href="/Home/Musik">Tilbage</a>

        </div>

        <div class="col-sm-3"></div>
    </div>

    <br />




</div>

