
@{
    ViewBag.Title = "Musik";
    Layout = "~/Views/Shared/_Musik.cshtml";
}

<div class="container">


    <div class="row">
        <img class="img-responsive bannerlogo center-block" src="~/imagebanner/top1.png" />
        <h2 style="text-align:center;">
            <img class="img-responsive center-block" src="~/icons/musik.png" />
        </h2>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 indoldarticle" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px;">
            <article>
                <a href="/Home/MusikAudio">
                    <img class="img-responsive center-block" src="~/icons/note.png" />
                </a>
            </article>
            <p style="text-align:center;">Audio</p>
        </div>
        <div class="col-sm-3 indoldarticle" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-left:5px;">
            <article>
                <a href="/Home/MusikVideo">
                    <img class="img-responsive center-block" src="~/icons/video.png" />
                </a>
            </article>
            <p style="text-align:center;">Video</p>
        </div>
        <div class="col-sm-3"></div>

    </div>
</div>



<br />


