
@{
    ViewBag.Title = "Projekter";
    Layout = "~/Views/Shared/_Projekter.cshtml";
}

<div class="container">


    <div class="row">
        <img class="img-responsive bannerlogo center-block" src="~/imagebanner/top1.png" />
        <h2 style="text-align:center;">
            <img class="img-responsive center-block" src="~/icons/projekter.png" />
        </h2>
    </div>
    <br />
    <br />


    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px;">
            <article>
                <table style="width:100%">
                    <tr>
                        <th><h2 style="text-align:center;"><hr />DEATH SCROLL<hr /></h2></th>


                </table>


                <img class="img-responsive" src="~/projekter pic/roll-scroll-out-new-game-index.gif" style="border:solid 3px dimgrey; border-radius:5px 5px 5px 5px;" />
                <br />
                <p style="text-align:center;">Digital BoardGame</p>
            </article>
        </div>
        <div class="col-sm-3" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-left:5px;">
            <article>
                <table style="width:100%">
                    <tr>
                        <th><h2 style="text-align:center;"><hr />HOODLEM<hr /></hr></h2></th>


                </table>



                <img class="img-responsive" src="~/projekter pic/hoodlem.JPG" />
                <br />
                <p style="text-align:center;">Classic Platform Game</p>
            </article>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


<br />


