
@{
    ViewBag.Title = "VisuelWebsite";
    Layout = "~/Views/Shared/_visuelbilleder.cshtml";
}

<div class="container">


    <div class="row">

        <img class="img-responsive bannerlogo center-block" src="~/imagebanner/top1.png" />
        <h2 style="text-align:center;">
            <img class="img-responsive center-block" src="~/icons/website.png" />
        </h2>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 indoldarticle" style="margin-left:5px;">
            <table style="width:100%">
                <tr>
                    <th>
                        WEB-SITE
                    </th>
                    <th colspan="2"></th>
                    <th colspan="3">Mit arbejde</th>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.sickseed.dk">www.sickseed.dk</a>
                    <th colspan="2"></th>
                    <th colspan="3">Hele siden</th>
                    </td>
                    <td style="padding-top:5px;"></td>



            </table>
        </div>


        <div class="col-sm-3"></div>

    </div>



    <br />

    <div class="row">
        <div class="col-sm-12" style="text-align:center;">
            <a class="link2 btn-primary" href="/Home/Visuel">Tilbage</a>

        </div>



    </div>
</div>






<br />



