
@{
    ViewBag.Title = "VisuelVideo";
    Layout = "~/Views/Shared/_visuelbilleder.cshtml";
}

<div class="container">






    <div class="row">
        <img class="img-responsive bannerlogo center-block" src="~/imagebanner/top1.png" />
        <h2 style="text-align:center;">
            <img class="img-responsive center-block" src="~/icons/visuelvideo.png" />
        </h2>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;">
            <article>
                <h4>
                    Norstrøm - Turde Tør<br />

                </h4>
                <p>Musikvideo</p>

                <b>Dennis Norstrøm Pedersen</b>
                <li>
                    Manuskript
                </li>
                <li>
                    Instruktør
                </li>
                <li>
                    Producent
                </li>
                <br />
                <b>Poe Daniels</b>
                <li>Kamera</li>
                <li>Video Redigering</li>
                <br />

            </article>
        </div>
        <div class="col-sm-6" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;">
            <article>

                <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/nHo7pGt7s4o" frameborder="0" allowfullscreen></iframe>
            </article>
        </div>

        <div class="col-sm-3">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;">
            <article>
                <h4>Another Day At The Office</h4>
                <p>24 Timers Skole Projekt</p>

                <b>Dennis Norstrøm Pedersen</b>
                <li>Manuskript</li>
                <li>Drejebog</li>
                <li>Producent</li>
                <li>Redigering</li>
                <li>Instruktør</li>

                <br />
                <b>Lasse Jørgensen</b>
                <li>Kamera</li>
                <li>Producent</li>
                <br />


            </article>
        </div>
        <div class="col-sm-6" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;">
            <article>
                <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/pfW9tYS1zCk" frameborder="0" allowfullscreen></iframe>
            </article>
        </div>

        <div class="col-sm-3"></div>
    </div>


    <div class="row">
        <div class="col-sm-3" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;">
            <article>
                <h4>Sickseed Warboy</h4>
                <p>Musikvideo</p>

                <b>Dennis Norstrøm Pedersen</b>
                <li>Redigering</li>
                <li>Producent</li>
                <li>Instruktør</li>


                <br />


            </article>
        </div>
        <div class="col-sm-6" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;">
            <article>
                <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/WVq-t0oIVMM" frameborder="0" allowfullscreen></iframe>
            </article>
        </div>

        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-left:5px;background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;text-align:center;">
            <a href="/Home/Visuel">Tilbage</a>

        </div>

        <div class="col-sm-3"></div>
    </div>

    <br />







</div>

<br />



