
@{
    ViewBag.Title = "VisuelBilleder";
    Layout = "~/Views/Shared/_visuelbilleder.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>FLASH PRODUCTION</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#hide").click(function () {
                $("#skjult").hide();
            });
            $("#show").click(function () {
                $("#skjult").show();
            });
        });

        $(document).ready(function () {
            $("#hide1").click(function () {
                $("#skjult1").hide();
            });
            $("#show1").click(function () {
                $("#skjult1").show();
            });
        });
    </script>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="bootstrap.css" rel="stylesheet" />

    <link href="main visuelt.css" rel="stylesheet" />
</head>
<body>

    <div class="container">


        <div class="row">
            <img class="img-responsive bannerlogo center-block" src="~/imagebanner/top1.png" />
            <h2 style="text-align:center;">
                <img class="img-responsive center-block" src="~/icons/Billeder.png" />
            </h2>
        </div>
        <br />
        <div class="row center-block" style="text-align:center;">

            <button id="show1">Se Indhold</button>
            <button id="hide1">Luk</button>
        </div>
        <br />

        <div class="row" style="text-align:center;" id="skjult1">
            <div class="gallery cf" style="border-radius:5px 5px 5px 5px ;">
                <hr />
                <h2>DIGITAL ARTWORK</h2>
                <hr />

                <div>
                    <img src="~/Galleri/1.png" />
                </div>
                <div>
                    <img src="~/Galleri/knuser spejltet.png" />
                </div>
                <div>


                    <img src="~/projekter pic/hoodlem.JPG" />
                </div>
                <div>


                    <img src="~/Galleri/IMG_2382.JPG" />
                </div>
                <div>

                    <img src="~/musikpic/sickseed bbd.png" />
                </div>
                <div>
                    <img src="http://abload.de/img/a6aawu.jpg" />
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="text-align:center;">


        </div>
        <br />
        <div class="row center-block" style="text-align:center;">

            <button id="show">Se Indhold</button>
            <button id="hide">Luk</button>
            <br />
        </div>
        <br />
        <div class="row">


            <div class="gallery cf " style="border-radius:5px 5px 5px 5px ;" id="skjult">
                <hr />
                <h2 style="text-align:center;">DEATHSCROLL ARTWORK</h2>
                <hr />
                <div>

                    <img src="~/monsters art/FullSizeRender (1).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/dgjc.jpg" />
                </div>
                <div>

                    <img src="~/monsters art/dkgjdfg.jpg" />
                </div>
                <div>

                    <img src="~/monsters art/dragon.png" />
                </div>

                <div>
                    <img src="~/monsters art/FullSizeRender (12).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (13).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (14).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/IMG_3014.JPG" />

                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (4).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (6).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (19).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (2).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender (8).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/FullSizeRender.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/kcvbj.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/kdfjgxjx.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/kgfgg.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/kk7.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/orc fight.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/orc.png" />
                </div>
                <div>
                    <img src="~/monsters art/vxcckv.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/wqw.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/zombie.jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (1).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (11).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (14).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (15).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (16).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (17).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (18).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (2).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (3).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (4).jpg" />
                </div>
                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender (5).jpg" />
                </div>



                <div>
                    <img src="~/monsters art/Artwork/FullSizeRender.jpg" />
                </div>

            </div>


        </div>
        <br />


        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="background-color:lightgray;border-bottom:solid 1px grey;border-radius:5px 5px 5px 5px;margin-right:5px; margin-bottom:10px;text-align:center;">
                <a href="/Home/Visuel">Tilbage</a>

            </div>

            <div class="col-sm-3"></div>
        </div>

        <br />



    </div>
</body>


