
@{
    ViewBag.Title = "addnew";
}

<h2></h2>

<form method="post" action="/Kunstnere/AddNew/">
    <label for="Kunstnere">Tilføj Band</label>
    <br />
    <input type="text" name="Kunstner" id="Kunstnere" />
    <br />
    <button type="submit" class="btn btn-primary">Gem Band</button>
</form>