
@{
    ViewBag.Title = "Bestyrelse";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid borderlines">
    <hr />
    <h1 style="text-align:center;">Bestyrelse</h1>
    <hr />
    <div class="container-fluid ">
        <div class="row">
            <div class="col-4">
                <img class="img-center" src="~/Images/profilepictures.png" />
            </div>
            <div class="col-4 img-center">


                <img class="img-center" src="~/Images/profilepictures.png" />
            </div>
            <div class="col-4">
                <img class="img-center" src="~/Images/profilepictures.png" />

            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                    <p style="text-align:center;">
                        <b class="bfarve">Formand</b><br />
                        Poul Rasmussen <br />
                        <a href="callto:40254222">40 25 42 22</a>

                    </p>

                </div>
            </div>
            <div class="col-4">
                <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                    <p style="text-align:center;">
                        <b class="bfarve">Næstformand</b><br />
                        Egon Madsen <br />
                        <a href="callto:81750511">81 75 05 11</a>

                    </p>

                </div>
            </div>
            <div class="col-4">
                <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                    <p style="text-align:center;">
                        <br />
                        Irma Thomadsen <br />
                        <a href="callto:20462668">20 46 26 68</a>

                    </p>

                </div>
            </div>


        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <img class="img-center" src="~/Images/profilepictures.png" />
        </div>
        <div class="col-4 img-center">


            <img class="img-center" src="~/Images/profilepictures.png" />
        </div>
        <div class="col-4">
            <img class="img-center" src="~/Images/profilepictures.png" />

        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                <p style="text-align:center;">
                    <br />
                    Tove Andersen <br />
                    <a href="callto:26932359 ">26 93 23 59 </a>

                </p>

            </div>
        </div>
        <div class="col-4">
            <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                <p style="text-align:center;">
                    <br />
                    Ellinor Sørensen <br />
                    <a href="callto:60484807">60 48 48 07</a>

                </p>

            </div>
        </div>
        <div class="col-4">
            <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                <p style="text-align:center;">
                    <b class="bfarve">Suppleant</b><br />
                    Jens Ove Bach <br />
                    <a href="callto:23720448">23 72 04 48</a>

                </p>

            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-4">
            <img class="img-center" src="~/Images/profilepictures.png" />
        </div>
        <div class="col-4 img-center">



        </div>
        <div class="col-4">


        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="container" style="background-color:aliceblue;border-radius:5px 5px 5px 5px;">
                <p style="text-align:center;">
                    <b class="bfarve">Suppleant</b><br />
                    Hans Andersen  <br />
                    <a href="callto:60937060">60 93 70 60</a>

                </p>

            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>


    </div>


</div>

