
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}

<br />
<br />
<div class="container-fluid">
    <div class="row">
        <article class="col-5 borderlines">


            <hr />
            <h2 style="text-align:center;"><b> Any-klubben – stedet for de unge ældre !</b></h2>
            <hr />

            <p class="articleback ">
                Any-klubben er et rigtig godt sted for de som ikke længere er på arbejdsmarkedet, men som stadig gerne vil bruge deres kreative evner.

                Har man den opfattelse, at Any-klubben kun er for “gamle”, tager man ganske fejl.<br /><br />
                Så godt som alle ældre, er blevet meget yngre, såvel i livsstil, som i aktive fritidsinteresser og ikke mindst i brug af den digitale verden – hvordan opfatter du dig selv ?
                <br />

                Der kan nævnes mange gode grunde og argumenter for et medlemskab i Any-klubben, f.eks. får man uvilkårlig en større ven- og bekendtskabskreds, som rækker ud over sammenværet i klubben, og derved giver især de der lever alene, en mulighed for en snak om de ting der evt. kan “tynge” lidt i hverdagen. Ting som man ellers er slem til at “putte om i rygsækken”, så de en dag måske bliver så tunge, man ikke længere kan bære dem!
                <br /><br />
                Med andre ord, er en bedre livskvalitet, en større livsglæde, en sikker gevinst ved et medlemskab i Any-klubben!

                Kommer der nye ideer fra medlemmer, er der ikke langt fra ønske til handling, før en ny aktivitet kan være en realitet!

                <br />
                <br />Med venlig hilsen,
                <br />
                <b>Poul Rasmussen</b>
            </p>
        </article>
        <div class="col-2"></div>

        <article class="col-5 ">
            <div class="row">
                <img src="~/Images/profilepictures.png" />
            </div>
            <div class="row">
                <b>Formand</b>
                <h2>Poul Rasmussen</h2>

            </div>
            <br />
            <br />
            @*<div class="row">
                    <div class="col-4" style="border:red solid 1px;"><img class="img-responsive img-center" src="~/Images/phone25.png" /></div>
                    <div class="col-4" style="border:red solid 1px;">

                    </div>
                    <div class="col-4" style="border:red solid 1px;"></div>

                </div>*@
        </article>


    </div>
</div>

