
@{
    ViewBag.Title = "Klubbenshistorie";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid">
    <hr />
    <h1 style="text-align:center;">Klubbens Historie</h1>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h2> Any-klubbens historie i den korte version </h2>

                <ul>
                    <li>
                        1966  var det år, hvor Randers, Vorup, Kristrup, Hornbæk og Dronningborg holdt selvstændige by-og sognerådsvalg. Fire år senere var de alle samlet i een kommune og et amt!
                    </li>
                    <br />
                    <li>
                        1966  var også det år, hvor man kunne købe 1 kg. melis for kr. 1,66, en pilsner for kr. 1,37, en l sødmælk for kr. 1,06, og et kilo torsk for kr. 3,40. De rige kunne købe en Mercedes 200 for kr. 43.829,-, medens en folkevogn kunne erhverves for kr. 17.726,-  og en Fiat 1100 for kr. 17.500,-
                    </li>
                    <br />
                    <li>
                        1966    var det år, hvor den gennemsnitlige timeløn i industrien var på kr. 10,46 og en enlig pensionist fik kr. 5.064,- årligt!
                    </li>
                    <br />
                    <li>
                        I 1966   hed socialministeren Kaj Bundvad, og han opfordrede på et møde på Jylland alle pensionister til at forene sig i klubber, hvilket man gjorde i Randers,   Any-klubben blev stiftet den 01.okt.   og kommunen gav husly til klubben i det gl.  gasværk, hvor man straks gik i gang med at renovere lokaler i målerværkstedet.
                    </li>
                    <br />
                    <li>
                        I 1982 flyttede man så til Slyngborggade 21, 1s, hvor der var tomme lokaler efter bistandskontoret. I dag, 51 år senere, eksisterer Any-klubben fortsat og er et tilholdssted for mere end 300 af byens pensionister og efterlønnere, der kan vælge mellem flere end 20 forskellige aktiviteter, til at udfylde noget af hverdagen med. Se mere under menuen: Aktiviteter.
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <img style="margin-top:140px;" class="img-center img-responsive radius" src="~/Images/anyklubben facade.png" />

            </div>

        </div>
    </div>

</div>