
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid">
    <hr />
    <h1 class="centertext">Kontakt</h1>
    <hr />
</div>

<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="col-3 centertext">
            <img class="img-center" style="max-width:100px;" src="~/Images/home.png" />
            <p>
                <b>Any-Klubbens Adresse:</b><br />
                Slyngborggade 21, 1.sal<br />
                8900 Randers C
            </p>
        </div>
        <div class="col-3 centertext">
            <img class="img-center" style="max-width:100px;margin-top:17px;" src="~/Images/phone25.png" />
            <p>
                <b>Any-Klubbens Telefon:</b><br /><br />
                <a href="callto:86421551">86 42 15 51</a>
                <br />


            </p>
        </div>
        <div class="col-3 centertext">
            <img class="img-center" style="max-width:100px;" src="~/Images/mail.png" />
            <p>
                <b>Any-Klubbens E-Mail Adresse:</b><br />
                <br />
                <a href="mailto:anyklubben2@fiberflex.dk">Skriv en Mail</a>
            </p>
        </div>


        <div class="col-3 centertext">
            <img class="img-center" style="max-width:100px;" src="~/Images/profilepictures.png" />
            <p>
                <b>Kontor Ass. Lise Andreassen:</b><br /><br />
                <a href="callto:28145292">28 14 52 92</a>
                <br />


            </p>
        </div>
    </div>
</div>
