
@{
    ViewBag.Title = "Nyheder";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid ">
    <hr />
    <h1 style="text-align:center;">Nyheder</h1>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <ul>
                    <li>
                        Vi har nu også muligheder for at sy og arbejde i læder
                        om mandagen på stensliberholdet
                    </li>
                    <br />
                    <li>
                        Anyklubben er gået fra fastnet telefon til mobil, men bare rolig, du skal fortsat ringe til <a href="callto:8642551">86 42 15 51</a>
                        <br />Du vil dog opleve, at der står hemmeligt nr. på dit display hvis vi ringer til dig.
                    </li>
                    <br />

                    <li>Du kan nu også betale dit kontingent med dankort</li>
                </ul>
            </div>
            <div class="col-5">
                <ul>

                    <li>

                        JULEBANKO
                        i festsalen onsdag den 6. december kl. 13.00

                    </li>
                    <br />
                    <li>
                        Amerikansk lotteri
                        25 fine kødpakker plus det løse.

                    </li>
                    <br />
                    <li>
                        Der kan købes kaffe med brød i pausen.
                        Husk evt.gæstekort koster kr. 10,- for ikke medlemmer
                        <br />
                    </li>
                    <br />
                    <li>
                        Dette er årets sidste arrangement, god jul og godt nytår.
                        <br />

                        Stor tak til alle der har hjulpet gennem hele året med vore bankospil
                        uden dem, ingen bankospil!
                    </li>
                </ul>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</div>
