
@{
    ViewBag.Title = "Åbningstider";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid">

    <hr />
    <h1 style="text-align:center;">Åbningstider</h1>
    <hr />
</div>

<div class="container-fluid">


    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">


            <h3>Mandag-Torsdag </h3>
            <h3>Fredag </h3>





        </div>



        <div class="col-3">
            <h3>9.00 - 16.00</h3>
            <h3>9.00 - 13.00</h3>
        </div>
    </div>
</div>