<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <img class="img-responsive imgcenter1" src="~/Img/logo.png" />
        </div>
        <div class="row centertext">
            <hr />
            <a href="/Home/KegleRumfang/">
                <img class="img-responsive centerimg" src="~/Img/keglelogo.png" />
            </a>
            <span class="inner">Kegle</span>

            <hr />
            <a href="/Home/PrismerRumfang/">
                <img class="img-responsive centerimg" src="~/Img/prismelogo.png" />
            </a>
            <span class="inner">Prisme</span>

            <hr />
            <a href="/Home/CylinderRumfang/">
                <img class="img-responsive centerimg" src="~/Img/cylinderlogo.png" />
            </a>
            <span class="inner">Cylinder</span>

            <hr />
            <a href="/Home/PyramideRumfang/">
                <img class="img-responsive centerimg" src="~/Img/pyramidelogo.png" />
            </a>
            <span class="inner">Pyramide</span>

            <hr />
            <a href="/Home/Udregnkugleoverflade/">
                <img class="img-responsive centerimg" src="~/Img/kuglelogo.png" />
            </a>
            <span class="inner">Kugle</span>

            <hr />
            <a href="/Home/Cirkel/">
                <img class="img-responsive centerimg" src="~/Img/cirkellogo.png" />
            </a>
            <span class="inner">Cirkel</span>

            <hr />
            <a href="/Home/TrekantAreal/">
                <img class="img-responsive centerimg" src="~/Img/trekant copy.png" />
            </a>
            <span class="inner">Trekant</span>

            <hr />
            <a href="/Home/Kasse/">
                <img class="img-responsive centerimg" src="~/Img/mobile kasse.png" />
            </a>
            <span class="inner">Kasse</span>

            <hr />
            <a href="/Home/Parallelogram/">
                <img class="img-responsive centerimg" src="~/Img/Parallelogramlogo.png" />
            </a>
            <span class="inner">Parallelogram</span>

            <hr />
            <a href="/Home/Trapez/">
                <img class="img-responsive centerimg" src="~/Img/trapezlogo.png" />
            </a>
            <span class="inner">Trapez</span>

            <hr />
            <a href="/Home/Rektangel/">
                <img class="img-responsive centerimg" src="~/Img/rektangellogo.png" />
            </a>
            <span class="inner">Rektangel</span>

            <hr />
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
