<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <img class="img-responsive imgcenter1" src="~/Img/logo.png" />

                @*<img class="imgcenter1" src="~/Img/brain.gif" />*@
            </div>
            <div class="row">
                <div class=" col-sm-12">
                    <img style="margin-left:30px; margin-right:20px;" src="~/Img/keglelogo.png" />
                    <img src="~/Img/pyramidelogo.png" />
                </div>
                <div class="row">
                    <span style="margin-left:65px;margin-right:60px;">Kegle</span>
                    <span>Pyramide</span>
                </div>
                <div class="row">
                    <img style="margin-left:50PX;margin-right:30PX;" src="~/Img/cylinderlogo.png" />
                    <img src="~/Img/prismelogo.png" />
                </div>
                <div class="row">
                    <span style="margin-left:60px; margin-right:50px;">Cylinder</span>
                    <span>Prisme</span>
                </div>
                <div class="row">
                    <img style="margin-left:40px;" src="~/Img/kuglelogo.png" />

                    <img style="width:95px;height:95px;margin-left:20px;" src="~/Img/cirkellogo.png" />
                </div>
                <div class="row">
                    <span style="margin-left:70px;margin-right:75px;">Kugle</span>
                    <span>Cirkel</span>
                </div>

                <div class="row">
                    <img style="margin-left:30px;" src="~/Img/Parallelogramlogo.png" />
                    <img src="~/Img/trapezlogo.png" />
                </div>
                <div class="row">
                    <span style="margin-left:40px; margin-right:50px;">Parellelogram</span>
                    <span>Trapez</span>
                </div>

                <div class="row">

                    <img style="margin-left:20px;width:120px;" src="~/Img/trekant copy.png" />
                    <img style="margin-top:20px;width:130px;" src="~/Img/mobile kasse.png" />

                </div>
                <div class="row">
                    <span style="margin-left:60px;margin-right:70px;">Trekant</span>
                    <span>Kasse</span>
                </div>
                <div class="row">
                    <img style="margin-left:65px;" src="~/Img/rektangellogo.png" />
                </div>
                <div class="row">
                    <span style="margin-left:110px;">Rektangel</span>
                </div>
            </div>

        </div>



        @RenderBody()
    </div>
</body>
</html>
