
@{
    Layout = "~/Views/Shared/_design.cshtml";
}


<div class="box">
    <h3>Kasse</h3>
    <form method="post" action="/Home/Kasse">
        <input type="text" name="inputH" placeholder="Højde" />
        <input type="text" name="inputL" placeholder="Længde" />
        <input type="text" name="inputB" placeholder="Bredde" />

        <input type="submit" name="knap" value="Rumfang" />
        <input type="submit" name="knap" value="Overflade" />
    </form>



    <p>
        Resultat: @ViewBag.Resultat
    </p>
</div>